[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DepInfeR"]
	path = DepInfeR
	url = https://github.com/huber-group-embl/depinfer
